torch==1.13.1+cu116 --extra-index-url https://download.pytorch.org/whl/cu116
torchvision==0.14.1+cu116 --extra-index-url https://download.pytorch.org/whl/cu116
torchaudio==0.13.1 --extra-index-url https://download.pytorch.org/whl/cu116
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@d1e04565d3bec8719335b88be9e9b961bf

pyspellchecker
python-telegram-bot==20.3
langdetect~=1.0.9
ai21~=1.0.7
numpy~=1.23.5
tqdm~=4.65.0
opencv-python~=4.7.0.72
Pillow~=9.4.0
requests~=2.28.2
PyYAML~=6.0
detectron2~=0.6
torch==1.13.1+cu116
torchvision==0.14.1+cu116
pycocotools~=2.0.6
matplotlib~=3.4.2
packaging~=23.0
cloudpickle~=2.2.1
iopath~=0.1.9
